.project {
    width: 350px;
    background: #9ba2a8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid;
    align-items: flex-start;
}

.image {
    width: 100%;
    height: 200px;
    background: beige;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonBlock {
    width: 100px;
}

.title {
width: 100%;
}

.description {
    background: aqua;
    width: 100%;
    height: 50px;
}