.footerBlock {
    height: 200px;
    background: aquamarine;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialBlock {
    width: 250px;
display: flex;
    justify-content: space-between;

}